@model IEnumerable<MarysMajesticMovies.Order>

@{
    ViewData["Title"] = "Index";
}

    <body onload="CheckoutOnLoad()">
        <div class="container">
            <div class="cart">
                <div class="cart-checkout">
                    <h1>Checkout</h1>
                    <div class="checkout-items">
                    </div>
                    <div class="total-price">Total price: <span class="checkout-total-price"></span></div>
                </div>
                <form>
                    <label>First name</label>
                    <input type="text" placeholder="" />
                    <label>Last name</label>
                    <input type="text" placeholder="" />
                    <br />
                    <br />
                    <p>Billing / Shipping adress</p>
                    <input type="text" placeholder="" />
                    <label>City</label>
                    <input type="text" placeholder="" />
                    <label>Zip Code</label>
                    <input type="text" placeholder="" />
                    <label>City</label>
                    <input type="text" placeholder="" />
                    <br />
                    <br />
                    <label>Shipping options</label>
                    <br />
                    <br />
                    <div class="shippingCheckbox">
                        <label>Postoffice (2-4 days)</label>
                        <input type="checkbox" placeholder="" checked="checked" />
                        <label>DHL Express Delivery (1-2 days)</label>
                        <input type="checkbox" placeholder="" disabled="disabled" />
                        <label>UPS Same Day Delivery</label>
                        <input type="checkbox" placeholder="" disabled="disabled" />
                    </div>
                    <br />
                    <br />
                    <label>Payment options</label>
                    <br />
                    <br />
                    <div class="cardCheckbox">
                        <label>Credit Card</label>
                        <input type="checkbox" placeholder="" checked="checked" />
                        <label>PayPal</label>
                        <input type="checkbox" placeholder="" disabled="disabled" />
                        <label>Coupon</label>
                        <input type="checkbox" placeholder="" disabled="disabled" />
                    </div>
                    <br />
                    <label>Type</label>
                    <br />
                    <br />
                    <select name="cards" class="creditCards">
                        <option>MasterCard</option>
                        <option>VISA</option>
                        <option>AmericanExpress</option>
                    </select>
                    <br />
                    <br />
                    <label>Card Number</label>
                    <input type="text" placeholder="" />
                    <label>Name</label>
                    <input type="text" placeholder="" />
                    <div class="validationCvc">
                        <label>Valid until</label>
                        <input type="date" placeholder="" />
                        <label>CVC</label>
                        <input type="text" placeholder="" />
                    </div>
                    <br />
                    <br />
                    <br />
                </form>
                <a class="overlay-price-button">Purchase</a>
            </div>
        </div>
    </body>