@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
        {
        <p>@UserManager.GetUserAsync(User).Result.FirstName!</p>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="menubutton">Logout</button>
            </form>
        }
        else
        {
            <p><a asp-area="Identity" asp-page="/Account/Login">Log in</a> or <a asp-area="Identity" asp-page="/Account/Register">create an account</a></p>
        }
