@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h3>You're logged in as @User.Identity.Name!</h3>
    <div class="menu">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="menubutton">Logout</button>
        </form>
    </div>
}
else
{
    <div class="footeruser">
        <p><a asp-area="Identity" asp-page="/Account/Login">Log in</a> or <a asp-area="Identity" asp-page="/Account/Register">create an account</a></p>
    </div>
}
