

<body class="container" onload="CartOnLoad()">
    <h1>CART</h1>
    <div class="cart-items">
    </div>
    <br />
    <div>Total price: <span class="cart-total-price"></span></div>
    <br />
    <a class="btn btn-to-checkout" asp-action=".">Purchase</a>
</body>
