

    <body class="container" onload="CartOnLoad()">
        <div class="banner5"></div>
        <div class="cart">
            <h1>Cart</h1>
            <div class="cart-items">
            </div>
            <button class="btn btn-to-clear-cart">Clear Cart</button>
            <a class="overlay-price-button" href="../Checkout">Purchase</a>
            <div class="total-price">Total price: <span class="cart-total-price"></span></div>
        </div>
    </body>
