@{
    ViewData["Title"] = "Home Page";
}

<body onload="randomImg(), randomImg2(), randomImg3(), randomImg4(), randomImg5()">
    <div class="content">
        <div class="banner">
            <img src="~/DesignDrafts/logo.png" class="logo" />
        </div>
        <div id="latest-section">
            <h1>Latest</h1>
            <div class="scroll">
                <div class="movies">
                    <div id="latest"></div>
                </div>
            </div>
        </div>
        <div id="popular-section">
            <h1>Popular</h1>
            <div class="scroll">
                <div class="movies">
                    <div id="popular"></div>
                </div>
            </div>
        </div>
        <div id="moviedeals-section">
            <h1>Movie Deals</h1>
            <div class="scroll">
                <div class="movies">
                    <div id="movieDeals"></div>
                </div>
            </div>
        </div>
        <h1>Just for You</h1>
        <div class="scroll">
            <div class="movies">
                <div id="justForYou"></div>
            </div>
        </div>
        <h1>Blockbusters</h1>
        <div class="scroll">
            <div class="movies">
                <div id="blockbusters"></div>
            </div>
        </div>
    </div>
</body>
