@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .validation-summary-errors ul{
        list-style: none;
        margin-left: -40px;
    }
</style>

<div class="banner2"></div>
<div class="register">
    <h1>@ViewData["Title"]</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" style="color: #ff4747; list-style: none"></div>
        <br />
        <input asp-for="Input.Email" type="text" placeholder="Email" />
        <br />
        <input asp-for="Input.Password" type="password" placeholder="Password" />
        <br />
        <br />
        <input type="submit" value="Log in" />
    </form>
</div>
