@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="banner2"></div>
<div class="register">
    <h1>@ViewData["Title"]</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <br />
        <input asp-for="Input.Email" type="text" placeholder="Email" />
        <br />
        <input asp-for="Input.Password" type="password" placeholder="Password" />
        <input type="submit" value="Log in" />
    </form>
</div>
