@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="banner3"></div>
<div class="register">
    <h1>@ViewData["Title"]</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" style="color: #ff4747; list-style: none;"></div>
        <label>Name</label>
        <br />
        <input asp-for="Input.FirstName" type="text" placeholder="First name *" />
        <br />
        <input asp-for="Input.LastName" type="text" placeholder="Last name *" />
        <br />
        <br />
        <label>Billing and Shipping Address</label>
        <br />
        <input asp-for="Input.Address" type="text" placeholder="Address *" />
        <br />
        <input asp-for="Input.City" type="text" placeholder="City *" />
        <br />
        <input asp-for="Input.ZipCode" type="text" placeholder="Zip code *" />
        <br />
        <input asp-for="Input.PhoneNumber" type="text" placeholder="Phone *" />
        <br />
        <br />
        <label>Account Details</label>
        <br />
        <input asp-for="Input.Email" type="text" placeholder="Email *" />
        <br />
        <input asp-for="Input.Password" type="password" placeholder="Password *" />
        <br />
        <input asp-for="Input.ConfirmPassword" type="password" placeholder="Verify password *" />
        <br />
        <p>All fields marked with * are required.</p>
        <br />
        <br />
        <input type="submit" value="Register" />
        <br />
        <p>By creating an account, you accept our <a href="#">Terms & Conditions</a>.</p>
    </form>
</div>
@if (!Model.isEmailValid)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@Model.invalidEmailMessage");
        };
    </script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
