@model MarysMajesticMovies.Controllers.AdminController

@{
    ViewData["Title"] = "AddMovie";
}
<h1>AddMovie</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="GetMovieInfo">
            <label asp-for="SearchMovieInput.ImdbId" class="control-label"></label>
            <input asp-for="SearchMovieInput.ImdbId" class="form-control" />
            <span asp-validation-for="SearchMovieInput.ImdbId" class="text-danger"></span>
            <br />
            <input type="submit" value="Search movie" class="btn btn-primary" />
        </form>
        <form asp-controller="Admin" asp-action="PostMovie">
            <div>@ViewBag.SaveMessage</div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AddMovieInput.ImdbId" class="control-label"></label>
                <input asp-for="AddMovieInput.ImdbId" class="form-control" />
                <span asp-validation-for="AddMovieInput.ImdbId" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.Title" class="control-label"></label>
                <input asp-for="AddMovieInput.Title" class="form-control" />
                <span asp-validation-for="AddMovieInput.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.Year" class="control-label"></label>
                <input asp-for="AddMovieInput.Year" class="form-control" />
                <span asp-validation-for="AddMovieInput.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.RunTime" class="control-label"></label>
                <input asp-for="AddMovieInput.RunTime" class="form-control" />
                <span asp-validation-for="AddMovieInput.RunTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.Genre" class="control-label"></label>
                <input asp-for="AddMovieInput.Genre" class="form-control" />
                <span asp-validation-for="AddMovieInput.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.Director" class="control-label"></label>
                <input asp-for="AddMovieInput.Director" class="form-control" />
                <span asp-validation-for="AddMovieInput.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.Actors" class="control-label"></label>
                <input asp-for="AddMovieInput.Actors" class="form-control" />
                <span asp-validation-for="AddMovieInput.Actors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.Plot" class="control-label"></label>
                <input asp-for="AddMovieInput.Plot" class="form-control" />
                <span asp-validation-for="AddMovieInput.Plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.ImdbRating" class="control-label"></label>
                <input asp-for="AddMovieInput.ImdbRating" class="form-control" />
                <span asp-validation-for="AddMovieInput.ImdbRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.PosterUrl" class="control-label"></label>
                <input asp-for="AddMovieInput.PosterUrl" class="form-control" />
                <span asp-validation-for="AddMovieInput.PosterUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.TrailerUrl" class="control-label"></label>
                <input asp-for="AddMovieInput.TrailerUrl" class="form-control" />
                <span asp-validation-for="AddMovieInput.TrailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.Price" class="control-label"></label>
                <input asp-for="AddMovieInput.Price" class="form-control" />
                <span asp-validation-for="AddMovieInput.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddMovieInput.InStock" class="control-label"></label>
                <input asp-for="AddMovieInput.InStock" class="form-control" />
                <span asp-validation-for="AddMovieInput.InStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Movie" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
